---
import { Image } from 'astro:assets';
import 'bootstrap/dist/css/bootstrap.css'
import '../../styles/physical-fabrications/global.css';
import '../../styles/physical-fabrications/project.css';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/fabricationImgs/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>Project 3 - Artist Book</title>
		<link href="css/hover-min.css" rel="stylesheet">
		<!--Bootstrap Stylesheet -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	</head>
	<body>


     <!--Header -->
     <header class="text-center">
        <div class="container">
            <div class="row mt-5 mb-2 justify-content-between align-items-center">
                <div class="col-md-3 buttonSize">
                    <a href="/physical-fabrications/project-gallery" class="d-flex align-items-center">
                        <div class="me-3" style="width:10ch;">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="#597487" viewBox="0 0 8 8">
                                <path d="M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z"/>
                            </svg>
                        </div>
                        <div>
                            <Image src="/fabricationImgs/fontHeaders/home.png" class="img-fluid" width="700" height="200" alt=""></Image>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <Image class="img-fluid mt-3" src="/fabricationImgs/fontHeaders/artistBook2.png" width="1000" height="150" alt="Artist Book in a playful, coloful, magazine cut-out letter font">
                </div>
            </div>
        </div>
    </header>
    <!--Header END-->
    <br>
    <br>
    


    <div class="container">
        <!--Physical Fabrication -->
        <h2 class="subTitle mb-5">Physical Fabrication</h2>
        <div class="row">
        <!-- Carousel-->
        <div class="col-md-6">
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <Image src="/fabricationImgs/p3-artistBook/outsideFront.png" class="d-block w-75 img-fluid mx-auto" width="400" height="500" alt="..."></Image>
                    </div>
                    <div class="carousel-item">
                        <Image src="/fabricationImgs/p3-artistBook/outsideSide.png" class="d-block w-75 img-fluid mx-auto" width="400" height="500" alt="..."></Image>
                    </div>
                    <div class="carousel-item">
                        <Image src="/fabricationImgs/p3-artistBook/outsideSide2.png" class="d-block w-75 img-fluid mx-auto" width="400" height="500" alt="..."></Image>
                    </div>
                    <div class="carousel-item">
                        <Image src="/fabricationImgs/p3-artistBook/outsideLid.png" class="d-block w-75 img-fluid mx-auto" width="400" height="500" alt="..."></Image>
                    </div>
                    <div class="carousel-item">
                        <Image src="/fabricationImgs/p3-artistBook/openView.png" class="d-block w-75 img-fluid mx-auto" width="400" height="500" alt="..."></Image>
                    </div>
                    <div class="carousel-item">
                        <Image src="/fabricationImgs/p3-artistBook/insideLid.png" class="d-block w-75 img-fluid mx-auto" width="400" height="500" alt="..."></Image>
                    </div>
                    <div class="carousel-item">
                        <Image src="/fabricationImgs/p3-artistBook/piecesUnpuzzled.png" class="d-block w-75 img-fluid mx-auto" width="400" height="500" alt="..."></Image>
                    </div>
                    <div class="carousel-item">
                        <Image src="/fabricationImgs/p3-artistBook/piecesPuzzled.png" class="d-block w-75 img-fluid mx-auto" width="400" height="500" alt="..."></Image>
                    </div>
                    <div class="carousel-item">
                        <Image src="/fabricationImgs/p3-artistBook/piecesPuzzledDetails.png" class="d-block w-75 img-fluid mx-auto" width="400" height="500" alt="..."></Image>
                    </div>
                    <div class="carousel-item">
                        <video class="d-block mx-auto w-75 img-fluid" width="400" height="500" controls>
                            <source src="/fabricationImgs/p3-artistBook/puzzleAssembly.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!--Physical Fabrication Details -->
            <div class="col-md-6">
                <p class="pText"><b style="color: #597487;">Title: </b><em>America Eats Its Young</em></p>
                <br>
                <p class="pText"><b style="color: #597487;">Medium: </b>Materials of found objects. Empty Pringles can, toliet/paper towel rolls, masking tape, acrylic paint, Dymo industrial labels, and leftover newspaper.</p>
                <br>
                <p class="pText"><b style="color: #597487;">Dimensions: </b>Container: 4" (Height), 3 1/8" (Diameter), and 9 1/4" (Circumference). Pieces: 1/2" (Height), 1 3/4" (Diameter), and 5 1/2" (Circumference)</p>
                <br>
                <p class="pText"><b style="color: #597487;">Keywords: </b>Connection, Authenticity, Music, Counterculture</p>
                <br>
                <p class="pText"><b style="color: #597487;">About: </b>An artist book using a puzzle-like form, including a representation of the relationship between the American system and the general population with details of collaboration.</p>
            </div>
        </div>
        <br>
        <hr>

        <!--AI Fabrication -->
        <h2 class="subTitle my-5">AI Fabrication</h2>
        <div class="row my-5">
            <!--AI Fabrication Details -->
            <div class="col-md-12">
                <!-- AI Ouput Image-->
                <div class="col-md-6 float-end ms-3">
                    <h2 class="pText"><b style="color: #597487;">DALL-E 3 Output</b></h2>
                    <Image src="/fabricationImgs/p3-artistBook/AiOutputImgsOnly.png" class="img-fluid" width="600" height="600" alt=""></Image>
                    <p class="pText text-center mt-1"><b style="color: #597487;">Prompt: </b><em>Create a realistic physical craft fabrication that evokes connection, authenticity, counterculture, and music, using 7 circular pieces, each piece being a different color from the rainbow, with the circular pieces connecting to form the Seed Of Life symbol including a circular food container that looks damaged for the circular pieces to be stored in.</em></p>
                </div>

                <h2 class="pText"><b style="color: #597487;">AI & Physical Comparison Statement</b></h2>
                <p class="pText" style="text-indent: 30px;">
                    <b>I tried a few different prompts and found that feeding the AI generator my physical fabrication was the way to go while including my keywords somewhere in the prompt. </b>
                    I chose against using the term, artist book, as the generator gave me an actual book spread or collage-like images instead of a physical craft project. 
                    The only similarity I found between each fabrication is that DALL-E 3 somewhat captured the concept of the seed of life symbol being formed by rainbow circular pieces with only the bottom left image containing 7 colors as prompted. 
                    However, it missed the mark on everything else including the rainbow pieces forming the symbol and the damaged circular food container for the pieces to be stored in. 
                    The generator took the circular pieces term and created spheres instead of the actual rings of the seed of life with no physical connection between the pieces. 
                    It also had random non-circular food containers or multiple circular non-food containers and sometimes had the seed of life in a big container instead of the pieces being stored in the container. 
                    <b>Including the overall digital fabrication looking too manufactured and clean rather than a craft as mentioned in the prompt and depicted in my physical fabrication.</b> 
                </p>
                <p class="pText" style="text-indent: 30px;">
                    I find it super interesting the ways DALL-E 3 tried to evoke my keywords including the random keywords text on the container or pointing to certain spheres or parts of the AI image. 
                    I particularly find the bottom left image interesting in this case as it includes what looks like a marijuana leaf on a jar probably coming from my counterculture keyword. 
                    The bottom right images also include random icons on the spheres which are difficult to make out but assumingly trying to evoke the keywords. 
                    <b>Comparing these AI details to my physical artist book, it doesn’t hit the mark with any of the keywords other than connection in my opinion. </b>
                    The connection representation was the main concept/mechanism of the artist book that I fed to the generator in the form of the seed of life symbol. 
                    Although the random marijuana leaf does evoke counterculture, it seems so out of the blue and cliche which makes it cringey in a way as it misses the point of counterculture. 
                    <b>My physical fabrication evokes my keywords in the sense that I feel AI is unable to do so since there are so many metaphors and representative aspects of all my keywords that overlap with one another.</b>
                </p>
                <p class="pText" style="text-indent: 30px;">
                    Lastly, although I did have 3 prompt iterations to achieve a close resemblance to my artist book, the AI generation took nowhere near as long as the physical fabrication. 
                    The physical artist book requires so many more steps and energy than DALL-E 3 such as coming up with the idea, testing the idea, modifying the idea, and creating the idea while trying to evoke certain key terms to overall convey a larger concept. 
                    The AI portion is maybe thinking of an idea and telling the AI generator to execute the idea in a matter of seconds. 
                    <b>So much more time, work, and energy go into non-AI fabrications including both digital and physical as each comes with obstacles and total creative freedom to express yourself or topics that are so much more appreciated and notable than AI-generated images. </b>
                    Although AI is on the rise, artists and creators I feel will still be appreciated for not being AI and creating more complex things and ideas without AI assistance which hopefully will result in a time when creators become more popular than AI after the AI popularity climax.
                </p>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-12">
                <!-- Single column for text -->
                <h2 class="subTitle my-5">Intentionality & Design Statement </h2>
                <p class="pText" style="text-indent: 30px;">
                    My chosen keywords are the same as the previous collage project, connection, authenticity, counterculture, and music. 
                    The overall structure of the artist book is centered around the idea of food with the pieces inside a representation of that accompanying an empty Pringles can. 
                    The statement on the front of the damaged food container explains the food-concept metaphor perfectly, America eats its young. 
                    <b>This is the title of the 1972 Funkadelic album that holds countless meanings with the main idea being about excessive heroin use and addiction in the Vietnam War. 
                    The album also extends to other concepts like addictive recreational drug use in various cities throughout the US while also touching on topics of black history, brotherhood, and connection with each other and mother nature. </b>
                    Using this title as the central point of the artist book conveys similar meanings as the music album with the system treating people as food or bait while also evoking all of my keywords as it was used in music and counterculture while evoking connection and authentic ideas that are often not discussed. 
                    <b>The pieces or “chips” inside represent the people with the container representing the American system. </b>
                    The food container itself further conveys ideas of damage and broken but somehow still managing to stay together continuing to evoke counterculture and authenticity. 
                </p>
                <p class="pText" style="text-indent: 30px;">
                    Next, the pieces inside the container are a puzzle that forms the seed of life as each piece is a different color of the rainbow to evoke diversity. 
                    <b>The seed of life is a universal symbol of creation as it evokes the connection between existence and life on Earth. </b>
                    It also holds meaning in various religions such as the creation of Earth in 7 days while making up the larger, similar symbol, the flower of life. 
                    I also intended the seed of life to have meanings of connections between people with each piece connecting to form a stronger symbol with deep meanings to evoke my keyword of connection. 
                    The act of completing the puzzle also invites concepts of collaboration among people attempting to puzzle it together. 
                    <b>Furthermore, when the puzzle is formed it acts as a representation of how unification is more important and stronger than the system as you cannot put the piece back into the container while it is together which could also convey keywords of counterculture. </b>
                </p>
                <p class="pText" style="text-indent: 30px;">
                    <b>Additionally, the top of the container holds importance as the newspaper inside the transparent lid showcases an overdose program in sports currently happening in SC relating back to the album title meaning and my keyword, authenticity. </b>
                    This part is visible only on the outside of the container meaning it is part of the system while the inside of the lid is the comic part of the newspaper, the fun and creativity that individuals use to express themselves or ideas. 
                    The inside of the lid also showcases a drawing of the seed of life, a hint of what the pieces form into for the readers of the artist book. 
                    The construction and materials of the artist book also play a part as I focused more on the pieces or people aspect of the book rather than the system or container. 
                    The materials are all from pre-existing objects like the to-go Pringles can I had in the cupboard and a collection of empty toilet/paper towel rolls I kept with the intention of using them for a craft project. 
                </p>
                <p class="pText" style="text-indent: 30px;">
                    Looking at this with previous projects I have created, it is apparent I like discussing deep topics that are often not talked about and possibly controversial. 
                    I expect people to be shocked, concerned, confused, and/or surprised when looking at the food concept and container of my artist book but then to possibly feel understood or hopeful when looking deeper into the project and other aspects like the puzzle pieces and mechanism. 
                    I hope people take away the larger concept that everything isn’t as it seems in topics that are larger than us, individuals. 
                    <b>However, I hope it also evokes a sense of belonging, knowing other people stand with you even if we might not fully understand each other’s situations and experiences but we are all on the same side despite our differences.
                    I feel as if it is super important to feel understood and comfortable as we live in a world where it seems like everything is against us from feeling that way.</b>
                </p>
                <p class="pText" style="text-indent: 30px;">
                    <b>I had a few ideas of how wanted to execute the artist book pieces either with each piece having the ability to be manipulated in some way (ie. origami) and/or the pieces being able to connect or juxtaposition in a specific way to form a picture. </b>
                    Understanding these ideas with the construction aspect of the project resulted in using empty toilet/paper towel rolls I already had to fit the puzzle piece connection idea. 
                    This led to me coming up with the idea of cutting the empty toilet paper rolls into about 1 in. thick pieces, still keeping the circle shape, and forming a sacred geometric symbol with lots of meaning. 
                    This initial symbol was supposed to be the flower of life, however, that requires 19 circles and time and construction restraints told me to go a little smaller. 
                    Researching more about the symbol brought me to a similar symbol, the seed of life which makes up the flower of life, requiring 7 circles instead which was more tangible. 
                    The construction of the puzzle was nerve-racking and required a practice puzzle and trial and error of connecting the pieces together which took longer than anticipated leaving the container design on the backburner but ended up working out in the end. 
                    I also wish I would’ve constructed the pieces differently, I should’ve cut the notches and constructed the puzzle first then painted last instead of the other way around for a cleaner look. 
                    <b>However, I still am super proud of the outcome and surprised I was able to make it work since the cardboard was a little flimsy and presented some problems of too many pieces overlapping which resulted in more notches in each piece. </b>
                    I also believe the physical fabrication process has some significance as I experienced the process of trial and error and problem-solving physically while also having the obstacle of using things I already had which is not the same when it comes to digital fabrication. 
                    It is always interesting and fun to see how something will turn out when physically fabricated as it presents more obstacles and never seems to be the exact initial idea or vision.
                </p>
            </div>
        </div>
    </div>

    <!--Next/Prev Button -->
    <div class="container">
        <div class="row mt-5 justify-content-between align-items-center">
            <div class="col-md-3 buttonSize">
                <a href="/physical-fabrications/project2-collage" class="d-flex align-items-center">
                    <div class="me-3" style="width:10ch;">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#597487" viewBox="0 0 8 8">
                            <path d="M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z"/>
                        </svg>
                    </div>
                    <div>
                        <Image src="/fabricationImgs/fontHeaders/prev.png" class="img-fluid" width="700" height="200" alt=""></Image>
                    </div>
                </a>
            </div>
            <div class="col-md-3 buttonSize ">
                <a href="/physical-fabrications/project4-font" class="d-flex align-items-center">
                    <div>
                        <Image src="/fabricationImgs/fontHeaders/next.png" class="img-fluid" width="700" height="200" alt=""></Image>
                    </div>
                    <div class="ms-3" style="width:10ch;">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#597487" viewBox="0 0 8 8">
                            <path d="M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z"/>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--Next/Prev Button END -->

    <br>
    <br>
    <br>
    <footer>
        <div class="container">
            <p>&copy; Rachell Skinner 2024</p>
        </div>
    </footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>