---
import { Image } from 'astro:assets';
import 'bootstrap/dist/css/bootstrap.css'
import '../../styles/physical-fabrications/global.css';
import '../../styles/physical-fabrications/project.css';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/fabricationImgs/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>Project 1 - Keywords & Background</title>
		<link href="css/hover-min.css" rel="stylesheet">
		<!--Bootstrap Stylesheet -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!--Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap" rel="stylesheet">
	</head>
	<body>
        
    <!--Header -->
     <header class="text-center">
        <div class="container">
            <div class="row mt-5 mb-2 justify-content-between align-items-center">
                <div class="col-md-3 buttonSize">
                    <a href="/physical-fabrications/project-gallery" class="d-flex align-items-center">
                        <div class="me-3" style="width:10ch;">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="#597487" viewBox="0 0 8 8">
                                <path d="M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z"/>
                            </svg>
                        </div>
                        <div>
                            <Image src="/fabricationImgs/fontHeaders/home.png" class="img-fluid" width="700" height="200" alt=""></Image>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <Image class="img-fluid mt-3" src="/fabricationImgs/fontHeaders/keywords.png" width="1000" height="168" alt="Keywords in a playful, coloful, magazine cut-out letter font">
                </div>
            </div>
        </div>
    </header>
    <!--Header END-->
    <br>
    <br>

    <div class="container">
        <h2 class="subTitle mb-5">Generating Keywords Description</h2>
		<p class="pText" style="text-indent: 30px;">
            For Project 1: Generating Keywords, the keywords I chose that I feel best describe who I am and what I am about are <b>Connection</b>, <b>Authenticty</b>, <b>Music</b> and <b>Counterculture</b>. 
            I plan to use some or all these keywords in all three major projects this semester. 
            The method I used to decide on these keywords was a mix of options one and two provided in the assignment details. 
            I set aside time to brainstorm any words that came to mind while also considering what I collect in my personal environment. 
            Overall, my process felt quick, only taking about 30 minutes to ponder back and forth about which words to include and exclude. 
            <b>The process also felt like I found out more about myself, digging deep into my thoughts and considering who I am and what matters most to me in words.</b>
        </p>
        <p class="pText" style="text-indent: 30px;">
            <b>I chose sentimental terms like connection and authenticity as I feel like my life revolves around these terms, attempting to seek out meaningful connections but also not limiting certain expressions or things about myself to please others. </b>
            Music and counterculture scream the 60s-70s scene that I find very fascinating and integrated in my personal style through various forms including relating to each term distinctively. 
            <b>Counterculture also is a broad term that I feel defines me very well in opposing social norms including style but it also has the power to convey bigger topics like movements such as human rights, feminism, and rejecting the corrupt system we live in. </b>
        </p>
        <p class="pText" style="text-indent: 30px;">
            <b>To reflect these keywords in a physical sense such as the collage or artist book projects, I thought about incorporating cut-up records, record sleeves, book pages, strings, clay, and paint and using them as mediums to convey my keywords in an abstract sense. </b>
            I also have thought heavily about formatting my collage and artist book in various non-traditional ways such as a collage cube or an accordion art book with cut-out sections.
            I have many ideas and visions in mind that are difficult to describe but I hope they are possible to create and put to the test.
        </p>
    </div>

    <!--Next/Prev Button -->
		<div class="container">
			<div class="row mt-5 justify-content-between align-items-center">
				<div class="col-md-3 buttonSize">
					<a href="/physical-fabrications/project-gallery" class="d-flex align-items-center">
						<div class="me-3" style="width:10ch;">
							<svg xmlns="http://www.w3.org/2000/svg" fill="#597487" viewBox="0 0 8 8">
								<path d="M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z"/>
							</svg>
						</div>
						<div>
							<Image src="/fabricationImgs/fontHeaders/home.png" class="img-fluid" width="700" height="200" alt=""></Image>
						</div>
					</a>
				</div>
				<div class="col-md-3 buttonSize ">
					<a href="/physical-fabrications/project2-collage" class="d-flex align-items-center">
						<div>
							<Image src="/fabricationImgs/fontHeaders/next.png" class="img-fluid" width="700" height="200" alt=""></Image>
						</div>
						<div class="ms-3" style="width:10ch;">
							<svg xmlns="http://www.w3.org/2000/svg" fill="#597487" viewBox="0 0 8 8">
								<path d="M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z"/>
							</svg>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!--Next/Prev Button END -->
    
    <br>
    <br>
    <br>
    <footer>
        <div class="container">
            <p>&copy; Rachell Skinner 2024</p>
        </div>
    </footer>
    
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </html>