---
import { Image } from 'astro:assets';
import 'bootstrap/dist/css/bootstrap.css'
import '../../styles/physical-fabrications/global.css';
import '../../styles/physical-fabrications/project.css';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/fabricationImgs/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>Gallery & Course Statement</title>
		<link href="css/hover-min.css" rel="stylesheet">
		<!--Bootstrap Stylesheet -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!--Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap" rel="stylesheet">
	</head>
	<body>
        
    <!--Header -->
     <header class="text-center">
        <div class="container">
            <div class="row mt-5 mb-2 justify-content-between align-items-center">
                <div class="col-md-3 buttonSize">
                    <a href="/physical-fabrications/project-gallery" class="d-flex align-items-center">
                        <div class="me-3" style="width:10ch;">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="#597487" viewBox="0 0 8 8">
                                <path d="M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z"/>
                            </svg>
                        </div>
                        <div>
                            <Image src="/fabricationImgs/fontHeaders/home.png" class="img-fluid" width="700" height="200" alt=""></Image>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <Image class="img-fluid mt-3" src="/fabricationImgs/fontHeaders/statement.png" width="1000" height="168" alt="Keywords in a playful, coloful, magazine cut-out letter font">
                </div>
            </div>
        </div>
    </header>
    <!--Header END-->
    <br>
    <br>

    <div class="container">
        <h2 class="subTitle mb-5">Physical & AI Fabrication Curated Digital Gallery Statement</h2>
		<p class="pText" style="text-indent: 30px;">
            <b>My overall design for my DCD 300 Curated Digital Gallery was essentially centered around my font from Project 4 as I really wanted to use it for inline headers. </b>
            Using this typeface as a primary header font gives off a playful tone that I continued to portray in other aspects of this digital gallery website. 
            Such as the soft blue gradient background color, the cut-out physical fabrication image preview sections, and a sans-serif secondary font to continue the whimsical theme. 
            <b>After multiple failed attempts of fully digitizing my typeface into a typeable font to use in other website builders, I decided the easiest way to make this happen would be through coding my own digital gallery as the font headers take the form of PNG images instead. </b>
        </p>
        <p class="pText" style="text-indent: 30px;">
            The website’s folder and page set-up are living in my portfolio website’s folder using the same Astro development framework. 
            This saved a lot of initial set-up time and offers an easy access place for when I incorporate this into my portfolio as a project preview in the future. 
            For the website’s page layout, I knew I wanted each project to have its own page for the digitization media, the generative AI takes, the compare and contrast mini-essay, the intentionality and design statement. 
            <b>Additionally, I also wanted to include metadata about each project similar to the <a class="inlineLinks" target="_blank" href="https://www.moma.org/">Musem of Modern Art’s (MoMA)</a> project digitizations as it offers the viewer more info about it <a class="inlineLinks" target="_blank" href="https://www.moma.org/collection/works/450584">(MoMA project example)</a>. </b>
            Having each project separated through pages also helped with rendering and image loading time while keeping things organized. 
            <b>I also chose to incorporate all the project links onto a home page instead of a navigation bar for the child-like non-traditional theme I was going for, conveying some of my keywords like authenticity and counterculture. </b>
            This is also supplemented by the next, previous, and home links on each project page to mimic a navigation bar differently. 
        </p>
        <p class="pText" style="text-indent: 30px;">
            Additionally, I re-digitized some of my projects, specifically, Project 2 - Collage and Project 4 - Font. 
            <b>My collage’s initial digitization background was too distracting and blended in with the project itself. </b>
            Re-digitizing in front of a white wall and light table like the other physical fabrications helps further capture the fabrication’s features. 
            However, my font’s initial digitizations were great but needed additional digitizations of the letters themselves and the accordion book's movement.
            <b>I chose to capture both of these details with a short video showcasing the each letter page and the book's flexable movement as the initial digitizations did not fully feature this. </b>
            Furthermore, this and the additional metadata helped each project get as close as possible to the real-life physical fabrications as it shows different forms or details of the project. 
        </p>

    <br>
    <hr>
    <br>
        
        <h2 class="subTitle mb-5">DCD 300: Art-Making in the Age of Generative AI Statement</h2>
		<p class="pText" style="text-indent: 30px;">
            Although this course is for Digital Culture and Design students focusing on topics of digital analysis and storytelling, DCD 300: Art-Making in the Age of Generative AI offers so much more than that. 
            <b>It offered and promoted other experiences and skills of problem-solving, improvising, creativity, and self-discovery including the DCD skills of exploring digitization and generative AI machine learning image models. </b>
            It differs heavily from other DCD courses as it presents a clean slate of physical, hands-on creativity that many students without an art studio major/minor do not usually get to experience. 
            <b>Including the generative AI portion of the course resulting in a better understanding of image generators like DALL-E 3 and an appreciation for human artists and designers. </b>
        </p>
        <p class="pText" style="text-indent: 30px;">
            <b>Many aspects are considered when making things by hand that are different or non-existent when making things using AI image generators. </b>
            Such as acquiring materials, incorporating them, overall movement, physical functionality, and gravity, depending on whether it is a fully digital or physical creation. 
            Either way, these details are not encountered or considered when using AI, rather formulating the idea in words instead and letting AI do the rest. 
            It offers no additional creativity, improvising, or self-discovery skills while also possibly missing out on things like texture, sound, or smell.
            <b>AI generators use already existing data and knowledge through a neural network while artists and designers have inspirational new ideas and concepts that are way more extensive and valuable.</b>
        </p>
        <p class="pText" style="text-indent: 30px;">
            <b>My favorite project was Project 2 - Collage, both the physical fabrication and the AI image output because I am very pleased with the overall outcome. </b>
            I also enjoyed the process of the idea concept, finding materials, and forming the collage with the main spectacle being the string and clay heads, it felt like I was completing a puzzle with an unknown outcome. 
            <b>The DALL-E 3 output images also are very pleasing to the eye as they heavily incorporate common themes or elements of my chosen keywords that I didn’t specifically incorporate into my physical fabrication. </b>
            However, the AI output was unable to play with gravity and the overall arching concept (outside of my keywords) that my fabrication conveys. 
        </p>
        <p class="pText" style="text-indent: 30px;">
            As mentioned previously, the creation of these physical fabrications offered a sense of self-exploration and looking deeper into one’s self through various materials. 
            Starting with my keywords brainstorming, the terms I chose ultimately convey what I find personally important and a sense of who I am through minimal language. 
            Conveying these keywords resulted in a further discovery and challenge of expressing myself beyond words through found objects and stylistic choices while ultimately creating a broader story. 
            <b>I found myself to be innovative when deciding what materials to use by reusing objects while also being able to connect back each decision to each keyword, even if it's subtle. </b>
            Furthermore, experimenting with generative AI image models also was very interesting as I only ever heard about them but never used them myself. 
            This led me to understand that image AI models are not as "smart" as they are made out to be. 
            <b>It involves a lot of trial and error for an ideal output image as well as depending on the AI platform that is being used.</b>
        </p>
        <p class="pText" style="text-indent: 30px;">
            Lastly, I genuinely really enjoyed this course and hope other students get the chance to experience it. 
            <b>Although I do not have any further suggestions for physical fabrications, I feel like the artist book fabrication is the most valuable project fabrication as it includes endless possibilities with form and style. </b>
        </p>
    </div>

    <!--Next/Prev Button -->
		<div class="container">
			<div class="row mt-5 justify-content-between align-items-center">
				<div class="col-md-3 buttonSize">
					<a href="/physical-fabrications/project4-font" class="d-flex align-items-center">
						<div class="w-25 me-3">
							<svg xmlns="http://www.w3.org/2000/svg" fill="#597487" viewBox="0 0 8 8">
								<path d="M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z"/>
							</svg>
						</div>
						<div>
							<Image src="/fabricationImgs/fontHeaders/prev.png" class="img-fluid" width="700" height="200" alt=""></Image>
						</div>
					</a>
				</div>
				<div class="col-md-3 buttonSize ">
					<a href="/physical-fabrications/project-gallery" class="d-flex align-items-center">
						<div>
							<Image src="/fabricationImgs/fontHeaders/home.png" class="img-fluid" width="700" height="200" alt=""></Image>
						</div>
						<div class="w-25 ms-3">
							<svg xmlns="http://www.w3.org/2000/svg" fill="#597487" viewBox="0 0 8 8">
								<path d="M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z"/>
							</svg>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!--Next/Prev Button END -->
    
    <br>
    <br>
    <br>
    <footer>
        <div class="container">
            <p>&copy; Rachell Skinner 2024</p>
        </div>
    </footer>
    
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </html>