.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.subTitle{
    color: #213E53;
    font-weight: 700;
    font-size: 3.7ch;
}
.pText{
    color: #213E53;
    font-weight: 400;
    font-size: 2ch;
}
@media (min-width: 567px) {
    .buttonSize{
        width: 25%;
    }
 }
 @media (max-width: 560px) {
    .buttonSize{
        width: 50%;
    }
 }
.inlineLinks{
    text-decoration: underline;
    color: #213E53;
}
.inlineLinks:hover{
    color: #597487;
    border: none;
}